
body {
  margin: 0;
  background-color: rgb(50, 50, 50);
}

.section {
  width: 84vw;

  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 2vh;
  margin-bottom: 2vh;

  padding-top: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 2vh;

  border-radius: 20px;

  font-family: "Helvetica", sans-serif;
  font-weight: 100;
  line-height: 140%;
}

#intro {
  display: flex;
  visibility: visible;
}

#bio {
  width: 50%;
  padding-right: 1vw;
}

#intro p {
  font-size: 12pt;
}

#contact {
  padding-left: 1vw;
  padding-top: 8%;
}

#contact p {
  padding-left: 2vw;
}

.footer {
  font-family: "Helvetica", sans-serif;
  font-weight: 100;
}

.copyright {
  padding-left: 3vw;
  color: rgb(200, 200, 200);
}

h1 {
  font-size: 30pt;
  font-weight: normal;
  color: rgb(200, 200, 200);
}

h2 {
  font-size: 20pt;
  font-weight: normal;
  color: rgb(200, 200, 200);
}

h3 {
  font-size: 16pt;
  font-weight: 100;
  color: rgb(200, 200, 200);
}

.title {
  color: rgb(0, 50, 95);
  font-size: 13pt;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0.5vh;
  font-size: 11pt;
}

#education .entry .subtitle:first-of-type {
  margin-bottom: 0.5vh;
}

.section-content {
  visibility: hidden;

  display: flex;
  flex-flow: row wrap;
}

.section-title {
  visibility: hidden;

  color: rgb(0, 150, 240);
}

.entry {  
  width: 97%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

  margin-right: 1.5vw;
  margin-bottom: 3.5vh;

  border-radius: 10px;

  background-color: rgb(170, 170, 170);
}

.entry-links {
  display: inline-block;

  margin-left: 30%;
}

.link {
  margin-right: 2vw;

  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.github {
  padding-top: 30px;
  padding-bottom: 0px;
}

.github img {
  position: relative;
  margin-bottom: -15px;
}

@keyframes border-fade-in {
  from {
    border-color: transparent;
  }

  to {
    border-color: rgb(0, 150, 240);
  }
}

.link:hover {
  animation: border-fade-in;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}

.fit {
  flex: 1;
}

.small {
  width: 29%;
}

.entry:last-of-type {
  margin-right: 0;
}

.button-group {
  display: flex;
}

.button {
  display: inline-block;
  width: 100px;
  height: 30px;

  border-radius: 10px;

  background-color: rgb(200, 200, 200);

  text-align: center;

  padding-top: 14px;
  padding-bottom: 20px;

  margin-right: 1vw;
  margin-bottom: 2vh;
}

.button:first-of-type {
  margin-left: 2vw;
}

.button:last-of-type {
  margin-right: 0;
}

hr {
  margin-left: 3vw;
  margin-right: 3vw;
}

.footer hr {
  height: 0.3vh;
  background-color: rgb(200, 200, 200);
}

.skillset {
  margin-bottom: 1vh;
}

.section p {
  color: rgb(200, 200, 200);
}

.entry p, li {
  font-size: 10pt;
  color: rgb(30, 30, 30);
}

.subtitle {
  color: rgb(30, 30, 30);
}

ul {
  list-style: none;
  padding-left: 0.5vw;
}

.skill-list {
  padding-left: 0;
}

.skill-cat {
  margin-bottom: 0;
}

.uci {
  color: rgb(0, 120, 255);
}

.uci-gold {
  color: rgb(255, 205, 10);
}

img {
  margin-left: auto;
  order: 2;
}

.img-header {
  margin-top: 2vh;
  margin-right: 1vw;
}

.img-header-low {
  margin-top: 3vh;
  margin-right: 1vw;
}

.img-low {
  margin-top: 14px;
}

.row, .entry-header {
  display: flex;
}

.skill {
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(30, 30, 30);

  margin-bottom: 2vh;

  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;

  text-align: center;
  font-weight: bold;

  color: rgb(0, 50, 95);
}

.rounded-img {
  border-radius: 12px;
}

.eXo {
  color: #8a408a;
}

.light-blue {
  color: rgb(0, 150, 240);
}