/* Links for switching stylesheets */
#wrap .cssSwitcher[data-csstitle="High Contrast"] {
	display: none;
}

#wrap .cssSwitcher[data-csstitle="Default"] {
	display: inline;
	margin-right: 0;
}
/***/


/* Make gray text black */
html,
#sidebar,
#sidebar .subtle,
#sidebar .subtlecolor,
#header .menugroup a:not(.button),
.subtle:not(.killSwitchOn),
.subtlecolor,
body.isInside #footer,
body.isInside #footer a,
.datatile #wrap > .copyright a,
.list.hoverable:not(.collapsible) a:not(.button),
.list.hoverable:not(.collapsible) a:not(.button):focus,
.list.hoverable:not(.collapsible) a:not(.button):hover,
.list.hoverable.collapsible a.collapsed:focus,
.list.hoverable.collapsible a.collapsed:hover,
.list.hoverable.collapsible li.collapsed:focus a,
.list.hoverable.collapsible li.collapsed:hover a,
.list.hoverable.collapsible li.collapsed a:focus,
.list.hoverable.collapsible li.collapsed a:hover,
.md_caredecision_index .documenttable .documents .document .docinfo,
.md_caredecision_index #divHCAs .divHCATitle p,
.md_premiumbilling_index span.premium-bill-balance-label,
.md_premiumbilling_index span.premium-bill-summary-details,
.md_premiumbilling_index span.premium-bill-payment-date,
.md_premiumbilling_payments tr.uncommitted-payment,
.md_socialcareapplications_index .statusAuthorized,
.md_socialcareapplications_index .statusOpen,
.md_socialcareapplications_index .statusPendingReview,
.md_socialcareapplications_index .statusNewRequest,
.md_socialcareapplications_index .statusIncomplete,
.md_socialcareapplications_index .statusCanceled,
.md_socialcareapplications_index .statusDenied,
.md_socialcareapplications_index .statusClosed,
.md_socialcareapplications_index .statusDefault,
body.md_visitdetails_index div.waitlist span.waitlistpretext,
body.md_visitdetails_index div.visitinstructionsheader,
body.md_visitdetails_index div.departmentaddress,
body.md_visitdetails_index div.departmentphone,
body .component.Popup.notificationreview .footer,
label,
.label,
.inlinelabel,
.formsection fieldset legend,
.button.buttoncheck label,
.openingsContainer .filterControls .filterFrame,
.statusBadge.CareEverywhere,
.statusBadge.CareEverywhere .header {
	color: #000;
}
	/***/

/* Darken link text */
a,
.linkcolor,
.subtle.linkcolor,
#sidebar .recovery a,
#sidebar .component.medicationslist .pickupbanner,
#sidebar .component.medicationslist .pendingupdates,
.visitinformation a:not(.button),
.apptDeptInstructions .section.flat a:not(.button),
.medbottom .medinfocolumn a,
.softwarning a:not(.button) {
	color: #006FCA;
}
.linkcolorOverride .linkcolorOverride:visited {
	color: #006FCA !important; /* @color link */
}
a:hover {
	color: #005EAC; /* @color link hover */
}
.linkcolorOverride:hover {
	color: #005EAC !important; /* @color link hover */
}
/***/

/* Darken Fill in Progress status test */
.component .medicationlistelement .refilldisabledstatus {
	color: #C53B00;
}

/* Darken sidebar headers */
#sidebar .header {
	color: #1D6CB6; /* @color theme shade */
}
	/* Unless it's on a colored titlebar already */
	#sidebar .header.titlebar {
		color: #FFF;
	}

/* Darken datestamp */
.Visits .card .date div,
.previewCCD .listelement .date div {
	color: #0778D6;
}
/***/

/* Darken green text */
body .moneyColor,
body .essMoneyColor,
body .HARSAutopay,
body .payplannormal .paymentplanautocontainer .payplanamount.nopayment {
	color: #178935;
}

/* Med Refill Workflow Specific*/
.rxReviewCards .reviewCostContainer.moneyColor {
	color: black;
}

.rxReviewCards {
	border: 1px solid #e0e0e0;
}



/* Lessen the transparent background effect and remove some background colors */
#main,
.BeforeList input.SearchList,
body .card.addItem {
	background-color: #fff;
}

#sidebar {
	background-color: rgba(255, 255, 255, 0.92);
}

body .signupContainer .card.loginContainer {
	background: #fff;
}

body .application {
	background: #fff;
}
/***/
/* Darken fixed table header cell background (e.g. test result detail past results table)*/
body .section .chart .tableOverlay table tr th.fixed {
	background: linear-gradient(rgba(36, 111, 181, 0.05), rgba(36, 111, 181, 0.05)), #fff; /* @color theme tint */
}
/***/
/* Darken ToDo calendar items */
.todoweekcalendarcontent .event.showtime,
.todoweekcalendarcontent .event.notime .eventinner:before,
.todoweekcalendarcontent .event.notime .eventinner {
	background: #257DB1;
}
/***/
/* Darken inactive side tab (e.g. Download My Record download popup) */
div.section div.sidetab ul.sectiontabs li:not(.selected) {
	background: #f1f1f1;
	color: #006FCA;
}





/* Add borders around form elements */
input, select, textarea,
.terms,
label.togglebutton[for],
input.buttoncheck + label.buttoncheck,
.TestResultsHeader .BeforeTestResultsList input.SearchList,
.messageheader .BeforeList input.SearchList,
.messageheader .BeforeList select,
.lookup .searchinputs input[type="text"] {
	border: 1px solid #aaa;
}

.messageheader .BeforeList select {
	box-shadow: none;
}
/***/


/* Add borders to card-like elements and tables */
.card:not(.SingleResult),
.accountBadge,
#calendar table,
.section table[id],
.TestResultsList,
ul.MessageList,
.HPcell.component > .content,
.component.pocdefault > a.viewmore,
.stepContainer .filterControl .filterValue,
ul li.HARForPayment:first-of-type {
	border: 1px solid #e0e0e0;
}
/***/

/* Popup titlebar */
.component.Popup > .titlebar {
	background-color: rgba(255, 255, 255, 0.925);
	border-bottom: 1px solid #e0e0e0;
}
/***/

/* My Conditions condition dropdown */
.flyoutprompt {
	background-color: #0778D6;
}

.flyoutitem {
	color: #0778D6;
}
/***/

/* Darken Delete Icon and link (e.g. in message list) */
img[src*="delete_inline.png"] {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAABACAYAAABY1SR7AAABIElEQVR42u3ayw2DMAyAYUZgBEbIocceMhqbZBRG4N4LIzBCC1VaoYhHICE46LfkS2XSfIK4auuiIAgiSbwez2pIM2Q/5Hsje1tbSUMoT8AcSEmCdAcQv+ykIEpnY82Qenx9oVbbmv81UiHa4xotDmI3tmtTLv7MjdWBz/1ZOTaH2hdhBALcND534p1J1muQ6WeB8Tm4Cc+hdp6WLlr3uQiz3iSSdZKIrT5aGxXb6m8JySGBZAORel6C9gIEyIUQ+02v2VgnuCYFZHPxGDVAgAABAgQIECBAgAABAgQIECBAgAC5OURv/fsbo4YfsW8LuXJ4IHgkyhnnaO2CKiFA2fdsp9NBRxYy2U0FLUBKYTNb7dx44R6MhDtjDiMIgvjGBzKiqy5BR+RdAAAAAElFTkSuQmCC);
	background-size: 23px auto;
	background-repeat: no-repeat;
	padding: 15px 11.5px;
}

.attention,
ul.MessageList .actionButtons .inlinedelete span {
	color: #D13434;
}

/***/
/* Darken small info icon (e.g. in filtered med widget) */
img[src*="info_grey.png"] {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABKklEQVR42p3SsU7CUBTG8UMBBwNJJ8OgmCBuhBDiAzg5ER2cHHgBEl6A0SdggoWBBEcXpw7EyYUnMCZORFcfgMjgv81XaG5oUnuSXwK3vefcc3vM9lFCHQMs8Y0v+cQcN/BRMCeOcY8XLNBDTc88NDFEgAlaWt9VDjc/4QGVROI73Cb+X+IRz+jEJ6mrcrj5yDnZK2bOWhVjnSb8HfW8cCrH0cbFgfUTfKBvurCe/T/Cwm+m266lvPSD95RnDWxMnyktfjM8j17wciQoYmsakmaOBF21GE3YMEeCqfZG4xloSLImuMYaV6bZnmjCqhkSnGGFEcqmcWxpPMcakjjOcepUXqmYn8zqabYDTdhA3zm+7a56Xquyf+hSCmqhrwnbqIWtbnuunsvJTX8JMkA3dxB0rwAAAABJRU5ErkJggg==);
	background-size: auto;
	background-repeat: no-repeat;
	padding: 8px;
	width: 16px;
}
/***/
/* Darken edit icon (e.g. add health issue popup) */
img[src*="edit.png"] {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAABTklEQVR42u2bzRGCMBBGKYESKCElWAIlpAPoxBJSQkrwzsUSKCElIEN0ZDRC/g7u7vfN7N33SLIxgaZBEARBENoZplYidL/Wfa1lV3YtJQH++gG+L8dbwjDpA/h9aY7wl0h41hJMogTFZdjrTAmW05zPk8BswUuXwHC1T5PAtNXFSpi59vlYCZoSvHru5JZKEgx3+CMJYuBDErQ0eKJb37rwy/b3WDQ8mYMRwAMe8NLgO8nwbeD0FvCAB3xSOenwCvCABzzgAf+HAm6S4Y1c+LoCyD35tqIEcvDd148uk9BTG/Zj8MnlSSB2hO1B55/DN00CSXh1OofjJBCEP4ZzCVfVROE9mCu8qiYNrwuvqgnDexhbcFVNHr6T0eLOe3/K7s5yEjBHQht6O7u83v9++8q/tc36zWwTOJsft3VBRF7z2bdBgV9lIAiCIAjrPACtPjntoLD4qwAAAABJRU5ErkJggg==);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 10px;
	width: 20px;
}
/***/
/* Darken popup icon (e.g. reschedule appt sidebar) */
.summary .apptProvider img {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALElEQVR42mNgwA7+k4BpawA+MIgMINl/NDOAYi/QxACi0gFNDBjEiWbw5TwAcSR7hT7Ve94AAAAASUVORK5CYII=);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0.35rem;
}
/* Darken paperless icon (e.g. Billing Accounts Summary) */
img[src*="paperless_tiny.png"],
.section .content table.billing img[src*="paperless_tiny.png"] {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACRklEQVR42sWTX0jTURTHv0aG1TIHiQaRSGYRGRVJYcw5mxvOOaf9+Q1pQg8VJaOVq6b7136/uZn+ZoXLUAwlC8OMzGkSRfTgW5BPRWRRQQ/1FAgVFfudjr6NZUUvHbjcl/v5nHvPORf4h2iZQtaJcWys70bJHw83XIa6KoQKs4RMq4TVdW3QWVsxVNqCD844+n4LV/qw0hRAFwOvrGEMMDy+N4w3tSK+mPxITH2DLgWSnyHT6IHWGkS+5RwkzjzLmYklVM27JQSFJSREMKHQiqUpAttFNLL9rV1Wvzgoqz8LHSqqYdDYDDoUzSObvJz4NrN1ErQpsPgYheXNmGGYfEPF5OhdT4HhnWT2pVPT1S3kvr6VhPaMOeHzfSGsShEIHXDrOdOx7jySbmvo8KV8ao/rSbylIWf/BqptTSNriJ8h4rUQRmESrFDWEosXk1Ve0NHYWpJGSulUX9G8wN6RS0I4e74GNSJ+GLx4cvwaNicJ7iaQY3DhndkHarxSQPKEkdrH9BQc3k3yuIHODm4jS5CLKeEhd0d48B0ZSYLRj9ikdeKruQXkHtxB5xn23CimI11rGEwjs8hdCGC6woN1v+z5vQS2lznwyeJVUeSOjvw3d9GBVhWZWDj3LJ4H4qtLCw5NNBotqI5hJjJartRHchSdC4quCaQ5yS08A8XeiacX3kOzoKC6F8IeD6YrucINfXjkmsTI6fsYiL5E2xgt3s8JsheEDTEUVYQQM3XCb+tBiUK5yxhI57Xor35XmQtxYw8c+B/xE1ai+GRz6uTcAAAAAElFTkSuQmCC');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 8px;
	width: 16px !important;
}
/***/
/* Darken autopay icon (e.g. Billing Accounts Summary) */
img[src*="payplanauto_normal_tiny.png"],
.section .content table.billing img[src*="payplanauto_normal_tiny.png"] {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA40lEQVR42mNgIADEO039gFiYgRwA1OgLxA/J0cgIxMVA/AeIXwHxfCBeAsStQGxASLMkEO8E4v848G8gzsJnQDQQLwbix0iaZgGxFxB7Qtkgl6mja2TFYpgWEDcB8X5keaghDeiKlfC4igOIBZD4ikC8DF1RJIkBPRFdYBKJBkSiCywDOQ2JLwByOh4DlNAFGkCBgxyo0MADBaIWFgNY0QXUodEzA4hdgNgbGtqwqHwExAuBOAafv7KhhuBKRLtACY1Q4BgAcRs06S4A4tdQQ0FJm5GcfPEAiH3IzY1CoOyMTw0ApSCA3RNfYakAAAAASUVORK5CYII=');
	background-size: contain;
	background-repeat: no-repeat;
	padding: 8px;
	width: 16px !important;
}
/***/

/* Darken autopay badge (new Billing Accounts Summary) */
.ba_card_header_paperless {
	border-top-color: #178935;
}
/***/

/* Make refill widget icon and question edit icon always opaque */
body .component .medicationlistelement .rightsection .refillBtn img,
body .section .content input.transparent {
	opacity: 1;
}
/***/

/* Button styling */
a.button,
div.button,
input.button,
button.button {
	font-weight: bold;
}

.button:not(.buttoncheck),
.button:not(.buttoncheck):focus,
.button:not(.buttoncheck):hover,
ul.MessageList.list.hoverable.collapsible .SingleMessage .ReplyButton a.button {
	background-color: #0778D6;
}

.button.nextstep,
.button.nextstep:focus,
.button.nextstep:hover {
	background-color: #178935;
}

.button.completeworkflow,
.button.completeworkflow:focus,
.button.completeworkflow:hover {
	background-color: #178935;
}

.button.cancelworkflow,
.button.cancelworkflow:focus,
.button.cancelworkflow:hover,
.button.cancelqnr,
.button.cancelqnr:focus,
.button.cancelqnr:hover {
	background-color: #D14454;
}

.button.inlinedelete,
.button.inlinedelete:focus,
.button.inlinedelete:hover {
	background-color: #D14454;
}

.button.inlineedit,
.button.inlineedit:focus,
.button.inlineedit:hover {
	background-color: #0778D6;
}

.button.inlinesave,
.button.inlinesave:focus,
.button.inlinesave:hover {
	background-color: #178935;
}

.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button[disabled],
.button[disabled]:focus,
.button[disabled]:hover {
	background-color: #DBDBDB;
}

#organizationList .button.cancelworkflow.multi {
  color: #d80000;
  border-color: #d80000;
}

#main .back .button {
	color: #0778D6;
}

body .stepContainer .openingsData .slotslist .slotdetailaction.selected,
body .lookup .searchinputs:after,
body .lookup .expanded #searchimg {
	background-color: #178935;
	border-color: #178935;
}
/***/
/* Lists */
.list.collapsible > * {
	border-color: #AAA;
	border-style: solid solid none;
	border-width: 1px 1px 0;
}

.list.collapsible > :last-child {
	border-bottom: 1px solid #AAA;
}

.listHolder {
	border: 1px solid #e0e0e0;
}
/***/

/* Scheduling */
body .stepcontainer.selectionmade:not(:hover):not(.active) {
	opacity: 1;
	box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.2);
}

body .slot {
	color: #006FCA;
}
/***/

/* New Scheduling */
body #scheduling-workflow a.slot:not(:hover),
body #selftriage-triage-workflow a.slot:not(:hover) {
	color: #FFF;
	background-color: #267d3b;
}

.verificationTab, .verificationTab:hover, #scheduling-workflow .summaryInfo .summarySpan > .subtle.editText {
	color: #000;
}

a.expandrequestoptions, a.loadanotherbatchbutton {
	color: #0778D6;
}

.requestheader {
	background-color: #FFF;
}

/***/

/* On My Way */
body #onMyWayPopup .slot:not(:hover) {
	color: #FFF;
	background-color: #267D3B;
}

body #onMyWayPopup .slot:focus {
	background-color: #2F9D49;
}

body #onMyWayPopup .slotDropdown {
	border-color: #000;
}

body #onMyWayPopup .walkInButton:hover:not([disabled]),
body #onMyWayPopup .walkInButton:focus:not([disabled]) {
	background-color: #0091EA;
}

.positiveValue {
	color: #337c43;
}
/***/

/*****************************/
/* Badge Color               */
/*   1.Financial Assistance  */
/*   2.DOCUMENT WIDGET       */
/*   3.Happy Together Sign up*/
/*****************************/
body .case .trackerStatus.Pending .trackerBadge,
body .case .trackerStatus.OpenCase .trackerBadge,
#viewdocumentwidget .Status span.pendingDocBadge,
#viewdocumentwidget .docinfo span.pendingDocBadge,
.orgs .org-signup span {
	background: none;
	border: 1px solid #FFA020;
	color: #000;
}

body .case .trackerStatus.Approved .trackerBadge {
	background-color: #178935;
}

#viewdocumentwidget .Status {
	line-height: 1.5rem;
}

/* Questionnaire List */
body.md_mychartquestionnaire_questionnaires .assigned_qnr_description, body.md_mychartquestionnaire_questionnaires .optional_qnr_description {
	color: #000;
}

body.md_mychartquestionnaire_questionnaires .section.questionsContainer .tbContainer > input:focus + label[for] {
	text-decoration: underline;
	border: 1px solid #000;
}
/***/

/* Test Results Widget */
.componentDataTable .refRangeGraph .ptMid {
	stroke: #178935;
}

.componentDataTable .refRangeGraph .ptLeft, .componentDataTable .refRangeGraph .ptRight {
	stroke: #857700;
}

.TRPTimelineList .timeLineDetails .testResultAndComponents li.TRPComponentHeader,
.dashboardComponentCard {
	border: 1px #d3d3d3 solid;
	border-collapse: collapse;
}

.TRPComponentHeader .nameColumn {
	color: #000000;
}
/***/
/* Financial Assistance */
body .tracker.Pending .trackerStatus .trackerBadge,
body .tracker.OpenCase .trackerStatus .trackerBadge {
	background: none;
	border: 1px solid #FFA020;
	color: #000;
}

body .tracker.Approved .trackerStatus .trackerBadge {
	background-color: #178935;
}
/***/


/** Health Advisories **/
div.hmt-item-card > div.hmt-previously-done > div {
	color: #000000 !important;
}

/**Ellipsis Control **/
.ellipsisControl > a.ellipsisControl-caret:after {
	border-top-color: #000000 !important;
}

.ellipsisControl.ellipsisControl-no-ellipsis > a.ellipsisControl-caret:after {
	border-top-color: transparent !important;
	border-bottom-color: #000000 !important;
}

/*** VISITS PAGE ***/
/*new extended bar color*/
div.filters.extendedBar {
	background-color: rgba(36, 111, 181,0.05) !important; /*@ color theme tint */
}

/*date on cards*/
.noShowCanceledShiftedCard > .date > div {
	color: black !important;
}

label.filterButton {
	color: #006FCA !important;
}

label.clearButton {
	color: #006FCA !important;
}

/* Self-Triage */
.selfTriage .landingPage .inProgressStatus .status {
	background: none;
	border: 1px solid #FFA020;
	color: #000;
}

/*#region Medications */
[data-altstylesheet="High Contrast"] .medcard .selection-enabled input[type=checkbox] + label svg,
[data-altstylesheet="High Contrast"] .medcard .med-selection-box .selection-disabled svg {
	fill: #666666;
}

[data-altstylesheet="High Contrast"] .refill-workflow .card.refill-disabled .medmessage,
[data-altstylesheet="High Contrast"].medcard .selection-disabled .cardline.medmessage {
	background-color: #666666;
}

[data-altstylesheet="High Contrast"] .refill-workflow .medcard.refill-disabled * {
	color: #666666;
}

[data-altstylesheet="High Contrast"] .refill-workflow .card.refill-disabled .medmessage {
	color: rgb(230, 230, 230);
}

[data-altstylesheet="High Contrast"] #MedicationForm .formbuttons {
	background-color: rgb(255, 255, 255);
}

/*#endregion*/

/*#region Subway UI */
.subway.scrollable .nav div {
	background-color: rgb(115, 115, 115) !important;
}
/*$endregion*/