body {
	background: #FFF url("../images/background.jpg") no-repeat fixed top center;
	background: rgba(0, 0, 0, 0) url("../images/background.jpg") no-repeat fixed top center / cover;
}

#content:after {
	background: #FFF url("../images/background_blurred.jpg") no-repeat fixed top center;
	background: rgba(0, 0, 0, 0) url("../images/background_blurred.jpg") no-repeat fixed top center / cover;
}

#proxyprefform .roundedimage {
	width: 4.5rem;
	height: 4.5rem;
}

/* Header */
.isInside #header:not(:empty) {
	background-color: #FFF; /* IE9 support */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%,rgba(255, 255, 255, 0.98) 12%, rgba(255, 255, 255, 1) 12.5%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.98) 12%, rgba(255, 255, 255, 1) 12.5%);
	position: fixed;
	top: 0;
	-webkit-transition: height 0.2s;
	transition: height 0.2s;
}

@media (max-width: 1720px) {
	.isInside #header:not(:empty) {
		background-color: #FFF; /* IE9 support */
		background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 0%,rgba(255, 255, 255, 0.98) calc((99% - 1280px) / 2), rgba(255, 255, 255, 1) calc((100% - 1280px) / 2));
		background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.98) calc((99% - 1280px) / 2), rgba(255, 255, 255, 1) calc((100% - 1280px) / 2));
	}
}

.contentOnly #header :not(:empty) {
	position: relative;
	text-align: center;
}

.isInside #header.compact:not(:empty) {
	height: 4rem;
}

/* Logo */
#logo {
	background: url("../images/logo.png") rgba(0, 0, 0, 0) no-repeat scroll center center / contain;
	width: 17%;
}

.contentOnly #logo {
	width: 13.5%;
}

/* Proxies */
#proxies {
	padding: 0 0.5rem 0 1.5rem;
	width: 18%;
}

#proxies.noProxies {
	width: 6rem;
}

#proxies .proxy {
	display: inline-block;
	height: 100%;
	margin: 0 -0.25em;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 2.5em;
}

#proxies .proxy.preview,
#proxies .proxy.selected:not(.shrink) {
	font-weight: bold;
	width: 3.5em;
	z-index: 10;
}

.compact #proxies .proxy {
	width: 2em;
}

.compact #proxies .proxy.preview,
.compact #proxies .proxy.selected:not(.shrink) {
	width: 3em;
}

#proxies .proxy a {
	display: block;
	height: calc(100% - 0.25rem); /* Rem - size of the bar is fixed */
	padding: 0.5em 0 0;
}

#proxies .proxy.preview > a,
#proxies .proxy.selected:not(.shrink) > a {
	padding: 0;
}

#proxies .proxy .proxyicon,
.MessageList .photo,
.roundedimage {
	background: rgba(0, 0, 0, 0) none no-repeat scroll center center / cover;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	display: block;
	height: 2.5em;
	overflow: hidden;
}
.roundedimage {
	width: 2.5rem;
	height: 2.5rem;
}

.MessageList .photo {
	width: 2.5em;
	display: inline-block;
	vertical-align: middle;
	z-index: 5;
}

#proxies .grow .proxyicon,
#proxies .preview > a .proxyicon,
#proxies .selected:not(.shrink) > a .proxyicon {
	border-width: 2px;
	height: 3.5em;
}

.compact #proxies .proxy .proxyicon {
	height: 2em;
}

.compact #proxies .grow .proxyicon,
.compact #proxies .preview > a .proxyicon,
.compact #proxies .selected:not(.shrink) > a .proxyicon {
	height: 3em;
}

#proxies .proxy .proxyicon .moreProxies {
	width: 100%;
}

#proxies .proxy.selected:not(.hidebar):after {
	content: "";
	display: block;
	height: 0.25rem;
	margin: 0 0 0 -15%;
	width: 130%;
}

#proxies .iconlabel {
	color: #555;
	display: block;
	height: 1.25em;
	margin: 0 0 0 -50%;
	opacity: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	visibility: hidden;
	width: 200%;
	white-space: nowrap;
}

#proxies .grow .iconlabel,
#proxies .selected:not(.shrink) > a .iconlabel {
	color: #121212;
	opacity: 1;
	visibility: visible;
}

.compact #proxies .grow .iconlabel,
.compact #proxies .selected:not(.shrink) > a .iconlabel {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

#proxies #moretabs .iconlabel {
	display: inline-block;
	height: auto;
	line-height: 1rem;
	margin: 0 0 0 0.5rem;
	opacity: 1;
	vertical-align: middle;
	visibility: visible;
	white-space: normal;
	width: calc(100% - 3rem);
}

#proxies #moretabs {
	background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
	box-sizing: content-box;
	display: none;
	font-weight: normal;
	margin: 0 0 0 -0.75em;
	padding: 0 0.75em 0.5em;
	opacity: 0;
	text-align: left;
	visibility: hidden;
	white-space: nowrap;
	width: 250%;
}

#proxies #moretabs.mtShow {
	display: block;
	opacity: 1;
	visibility: visible;
}

#proxies .selected #moretabs {
	margin: 0.25em 0 0 -0.75em;
}

#proxies #moretabs .proxyicon {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	width: 2.5em;
}

.compact #proxies #moretabs .proxyicon {
	width: 2em;
}

#proxies #moretabs .grow .proxyicon {
	width: 3.5em;
}

.compact #proxies #moretabs .grow .proxyicon {
	width: 3em;
}

#proxies #moretabs .grow .iconlabel {
	width: calc(100% - 4rem);
}

.compact #proxies #moretabs .grow .iconlabel {
	width: calc(100% - 3.5rem);
}

#proxies #photoImg_morecontainer {
	left: 0.125em;
	position: relative;
	top: -1.9375em;
}

.compact #proxies #photoImg_morecontainer {
	left: 0.0625em;
	top: -1.625em;
}

#proxies .preview #photoImg_morecontainer,
#proxies .selected:not(.shrink) #photoImg_morecontainer {
	left: 0.1875em;
	top: -2.5625em;
}

.compact #proxies .preview #photoImg_morecontainer,
.compact #proxies .selected:not(.shrink) #photoImg_morecontainer {
	left: 0.125em;
	top: -2.25em;
}

#proxies #photoImg_morecontainer .proxyicon {
	height: 1.5em;
	width: 1.5em;
}

.compact #proxies #photoImg_morecontainer .proxyicon {
	height: 1.25em;
	width: 1.25em;
}

#proxies .preview #photoImg_morecontainer .proxyicon,
#proxies .selected:not(.shrink) #photoImg_morecontainer .proxyicon {
	height: 2em;
	width: 2em;
}

.compact #proxies .preview #photoImg_morecontainer .proxyicon,
.compact #proxies .selected:not(.shrink) #photoImg_morecontainer .proxyicon {
	height: 1.75em;
	width: 1.75em;
}

#proxies .proxy,
#proxies .proxy a,
#proxies .proxy .proxyicon,
#proxies .proxy .iconlabel,
#proxies #photoImg_morecontainer,
#proxies #photoImg_morecontainer .proxyicon {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

/* All dropdowns - Menu and Account */
#header .menugroup {
	display: inline-block;
	height: 100%;
	text-align: center;
	vertical-align: top;
	width: 6.5rem;
	font-size: 0.9rem;
}

#header .submenu {
	background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0;
	border: none;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
	display: none;
	opacity: 0;
	padding: 0.5rem;
	position: relative;
	text-align: left;
	width: 225%;
	z-index: -1;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}

#header .menugroup.droppeddown .submenu {
	display: block;
	opacity: 1;
	z-index: 100;
}

@media (max-width: 1530px) {
	.menugroup:last-child.droppeddown .submenu {
		float: right;
	}
}

#header .menugroup span[role="menuitem"] {
	display: block;
	font-weight: bold;
	margin: 0 0 0.25rem 0.5rem;
}

#header .menugroup li[role="menuitem"] {
	line-height: 1rem;
}

#header .menugroup li[role="menuitem"] a {
	display: block;
	padding: 0.25rem 0.5rem;
	width: 100%;
}

#header .menugroup span[role="none"] {
	display: block;
	font-weight: bold;
	margin: 0 0 0.25rem 0.5rem;
}

#header .menugroup li[role="none"] {
	line-height: 1rem;
}

#header .menugroup li[role="none"] a {
	display: block;
	padding: 0.25rem 0.5rem;
	width: 100%;
}

#header .menugroup a:not(.button) {
	color: #555;
}

#header .menuicon {
	display: block;
	height: 100%;
	line-height: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

#header a:focus,
#header a:hover {
	text-decoration: none;
}

#header .keywordsearch {
	padding: 1rem 0.5rem 0.25rem;
}

#header .keywordsearch #query {
	display: inline-block;
	margin: 0.125rem 0 0.25rem;
	vertical-align: top;
	width: calc(100% - 1.5rem);
}

#header .keywordsearch .imgbutn {
	display: inline-block;
	height: calc(2rem + 2px);
	margin: 0.125rem 0 0.25rem -1px;
	padding: 0.5rem 0.25rem;
	vertical-align: top;
	width: 1.5rem;
}

#header .keywordsearch .button {
	width: 100%;
}

#account,
#menu .menugroup .menuicon,
#menu .menugroup.selected .menuicon:after {
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

/* Menu */
#menu {
	padding: 0.25rem 0.25rem 0;
	width: calc(100% - 17% - 18% - 11%);
}

#proxies.noProxies + #menu {
	width: calc(100% - 17% - 6rem - 11%);
}

#menu .submenugroup {
	display: inline-block;
	padding: 0 0.75rem 0 0;
	vertical-align: top;
	width: 100%;
}

#menu .submenugroup:last-child {
	padding: 0;
}

#menu .submenu.columns_2 {
	width: 375%;
}

#menu .submenu.columns_2 .submenugroup {
	width: 50%;
}

#menu .submenu.columns_3 {
	width: 525%;
}

#menu .submenu.columns_3 .submenugroup {
	width: 33.33%;
}

#menu .submenu.columns_4 {
	width: 700%;
}

#menu .submenu.columns_4 .submenugroup {
	width: 25%;
}

#menu .menuicon {
	cursor: default;
}

#menu .menuicon:before {
	background: rgba(0, 0, 0, 0) no-repeat center 0 / contain;
	content: " ";
	display: block;
	height: 48px;
	margin: 0 auto 0.25rem;
	width: 48px;
}

.compact #menu .menuicon:before {
	color: inherit;
}

/* Menu Icons */
#menu .menuicon.health:before {
	background-image: url("../images/menus/health.png");
}

#menu .menuicon.visits:before {
	background-image: url("../images/menus/visits.png");
}

#menu .menuicon.messaging:before {
	background-image: url("../images/menus/messages.png");
}

#menu .menuicon.billing:before {
	background-image: url("../images/menus/billing.png");
}

#menu .menuicon.resources:before {
	background-image: url("../images/menus/resources.png");
}

#menu .menuicon.profile:before {
	background-image: url("../images/menus/profile.png");
}


#menu .menugroup.selected .menuicon:after {
	content: "";
	display: block;
	height: 0.25rem;
	margin: 0.25rem auto;
	visibility: visible;
	width: 80%;
}

.compact #menu .menugroup.selected .menuicon:after {
	margin: -1.25rem auto 0;
}

/* Account */
#account {
	width: 11%;
	max-width: 11%;
	padding: 1rem 1rem 0.5rem 0;
	position: relative;
	right: 0;
}

.compact #account {
	padding-top: 0.5rem;
}

.compact.haslocaleswitch #account {
	width: 7%;
	max-width: 7%;
}

#account .menuicon:before {
	background: rgba(0, 0, 0, 0) url("../images/menus/account.png") no-repeat center center / 1.25rem 1.25rem;
	content: " ";
	display: block;
	height: 1.5rem;
	margin: 0 0 -1.5rem -1.75rem;
	padding: 0 0.25rem 0 0;
	width: 1.5rem;
}

#account .menugroup {
	height: auto;
	text-align: left;
	width: 100%;
}

#account .acctname {
	display: block;
	line-height: 1.5rem;
	margin: 0 0 -0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#account .menuname {
	display: block;
}

/*Locale Switch*/

#localeswitch {
	position: absolute;
	top: -0.2rem;
	right: 10px;
	transition: all ease 0.2s;
	width: auto;
	text-align: right;
}

#header.compact #localeswitch {
	width: 4%;
	position: absolute;
	top: 0.5rem;
	transition: all ease 0.2s;
}

#header.compact #localeswitch .localeImg,
#header.compact.haslocaleswitch #localeswitch .localename {
	display: none;
}

#header.compact.haslocaleswitch #localeswitch .abbreaviatedname {
	display: inline;
}


/* Main Content */
/* We include #wrap here because the switch from height to min-height happens when body gives way to #wrap.
 * For pages where #content, #main, and #sidebar are less than the window's height, #wrap's min-height won't cause it to fill the page.
 * We have to impose the same limitation on the min-height here to ensure that we don't then try to make #content, #main, and #sidebar 100% the window size because of #wrap.
 */
#wrap,
#content,
#main,
#sidebar {
	min-height: 100%;
}

.errorpage #content,
.errorpage #main,
.errorpage #sidebar {
	min-height: 100%;
}

#content {
	opacity: 0;
	z-index: -1;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

body.ready #content {
	opacity: 1;
	z-index: 1;
}

#header:not(:empty) + #content #main {
	padding-top: 6rem;
}

#header.compact:not(:empty) + #content #main {
	padding-top: 4.5rem;
	padding-bottom: 2rem;
}

#header:not(:empty) + #content #sidebar {
	padding-top: 7rem;
}

#header.compact:not(:empty) + #content #sidebar {
	padding-top: 5.5rem;
	padding-bottom: 2rem;
}

.hasCEFooter #header.compact:not(:empty) + #content #main {
	padding-bottom: 4rem;
}

.hasCEFooter #header.compact:not(:empty) + #content #sidebar {
	padding-bottom: 6rem;
}


#main.withSidebar {
	width: 80%;
}

#sidebar {
	padding: 4rem 0.75rem 0.5rem 1rem;
}

@media screen and (max-width: 1720px) {
	#main.withSidebar {
		width: 78%;
	}

	#sidebar {
		width: 22%;
	}
}

@media screen and (max-width: 1620px) {
	#main.withSidebar {
		width: 75%;
	}

	#sidebar {
		width: 25%;
	}
}

/* Footer */
#footer {
	box-sizing: content-box;
	font-size: 0.8rem;
	height: 1.5rem;
	line-height: 1rem;
	margin-top: 0;
	padding: 0;
	position: relative;
	text-align: center;
	z-index: 5;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

#content[style*="min-height"] + #footer {
	margin-top: -1.5rem;
}

body.ready #footer {
	opacity: 1;
}

#footer .mainStyle {
	border: none;
	width: 80%;
}

#footer .sidebarStyle {
	width: 20%;
}

@media screen and (max-width: 1520px) {
	#footer .mainStyle {
		width: 75%;
	}

	#footer .sidebarStyle {
		width: 25%;
	}
}

#footer .mainStyle > * {
	display: inline-block;
	margin: 0 0.5rem;
	width: auto;
}

#footer #baselinks a:after {
	content: "";
	margin: 0.25rem;
}

#footer #baselinks a:last-child:after {
	margin: 0;
}

/*Handle Care Everywhere footer on home page specifically*/
#content[style*="min-height"] + #footer.extraline {
	margin-top: -3.5rem;
}

#footer.extraline {
	height: 3.5rem;
}

.cefooter {
	padding: 0 0 0.5rem 0.5rem;
	display:block !important;
}

.cefooter > * {
    vertical-align: middle;
}

.cefooter::before {
	content: "";
	display: inline-block;
	background: rgba(0,0,0,0) none no-repeat scroll center center / 1.3rem 1.3rem;
	width: 1.3rem;
	height: 1.3rem;
	vertical-align: middle;
	padding: 0 0.25rem 0 0;
}

.cefooter.sharing::before {
	background-image: url("../images/CareEverywhere/CE_Sharing.png");
}

.cefooter.notsharing::before {
	background-image: url("../images/CareEverywhere/CE_NotSharing.png");
}

#sidebar > a img.assistiveicon {
	width: 2.5em;
}

/* Input Forms */
.section .content label[for] + input.phoneentry {
	min-width: 8rem;
	width: 8rem;
}

.section .content textarea.halfwidth {
	min-width: 50%;
}

.section .content input.radio,
.section .content input.radio + label,
.section .content input.chkbx,
.section .content input.chkbx + label {
	display: inline-block;
}

.section .content input.radio,
.section .content input.radio + label {
	vertical-align: top;
}

.section .content input.chkbx,
.section .content input.chkbx + label {
	vertical-align: middle;
}

/* This would all be unnecessary if everything used .formsection */
.section .content input + .helptext,
.section .content select + .helptext,
.section .content textarea + .helptext,
.section .content fieldset + .helptext,
.section .content .helptext + .helptext,
.section .content .popupiconcontainer + script + .helptext {
	margin: -0.5rem 0 0.75rem;
	padding: 0 0.25rem;
}

.section .content .helptext:empty {
	margin: 0;
	padding: 0;
}

.section .content .ghostInput .helptext:first-of-type {
	margin-top: 0;
}

/* Misc */

#wrap .subjectIndicator {
	margin: 0 0 0 0.5rem;
}

.contentlink img.info {
	display: inline-block;
	margin-right: 0.5rem;
	vertical-align: bottom;
	width: 1.25rem;
}

.externalicon {
	vertical-align: middle;
}

.proxyphoto .photo {
	max-height: 4rem;
	max-width: 4rem;
}

.dateSelector .dtSelWrapper {
	display: inline-block;
	margin: 0 0.75rem 0 0;
	vertical-align: top;
	width: auto;
}
.dateSelector .dtSelWrapper:last-child {
	margin: 0;
}

.dateSelector .dtSelWrapper .dateslabel {
	margin: -0.25rem 0 0;
}

/*Tabs*/
.navparent {
	overflow: hidden;
	margin: 1rem 0 0.5rem;
}

.navchild {
	font-size: 1.25rem;
	position: relative;
	margin-bottom: 1.5rem;
	display: inline-block;
	width: auto;
}

.navchild::after {
	border-bottom: 1px solid #C5C5C5;
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	left: 100%;
	position: absolute;
	width: 1500%;
}

.membertab {
	border-style: solid;
	border-width: 0.25rem 1px 1px;
	display: inline-block;
	margin: 0 -1px;
	opacity: 0.8;
	position: relative;
	width: auto;
}

.membertab.selected {
	border-style: solid solid none;
	border-width: 0.25rem 1px 0;
	margin: 0;
	opacity: 1;
}

.membertab.communitymembertabs {
	max-width: 200px;
}

.navparent.condensed .membertab:not(.selected) .tabimg + .tabname {
	width: 0;
}

.navparent.condensed .membertab:not(.selected) a {
	padding: 0.5rem;
	font-size: 1rem;
}

.membertab:first-child,
.membertab.selected:first-child + .membertab {
	margin: 0 -1px 0 0;
}

.membertab a {
	display: block;
	font-size: 0.9em;
	padding: 0.5rem 1.25rem;
}

.membertab.hover:not(.selected) {
	border-style: solid;
	border-width: 0.25rem 1px 1px;
	opacity: 1;
}

.membertab a img.tabimg {
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	display: inline-block;
	height: 2rem;
	margin-right: 0.5rem;
	overflow: hidden;
	vertical-align: middle;
	width: 2rem;
}

.membertab a .tabname {
	display: inline-block;
	width: calc(100% - 2rem - 0.5rem);
	overflow: hidden;
	vertical-align: middle;
	height: 2.5rem;
	line-height: 1.25rem;
}

/* If the tab container contains the navigation, use the old style */
.tabcontainer {
	border-color: #C5C5C5;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	margin: 3.25rem 0 0;
	padding: 0.5rem;
}

/* If the tab container doesn't contain the navigation, use the new style */
.navparent ~ .tabcontainer {
	border: none;
	margin: 0;
	padding: 0;
}

.tabcontainer .navparent {
	left: calc(-0.5rem - 1px);
	margin: 0 0 -3.25rem;
	position: relative;
	top: calc(-3rem + 1px);
	width: calc(100% + 1rem + 2px);
	padding-bottom: 0.5rem;
}

.tabcontainer .navchild {
	margin: 0;
}

/* Tab flyouts - currently only used in My Conditions */
.flyoutparent {
	position: relative;
	white-space: nowrap;
	width: auto;
}

.flyoutprompt {
	background-color: #0091EA;
	color: #FFF;
	display: inline-block;
	padding: 0.25rem 0.75rem;
}

.flyoutprompt:focus {
	outline-style: dotted;
	outline-width: 1px;
}

.flyoutprompt:focus,
.flyoutprompt:hover {
	color: #FFF;
}

.flyoutprompt * {
	display: inline-block;
	font-weight: bold;
}

.flyout {
	opacity: 1;
	position: absolute;
	transition: opacity 0.15s;
	-webkit-transition: opacity 0.15s;
	visibility: visible;
	width: auto;
	z-index: 2;
}

.flyout.collapsed {
	opacity: 0;
	visibility: hidden;
}

.flyout ul {
	list-style-type: none;
}

.flyoutitem {
	color: #0091EA;
	display: block;
	padding: 0.25rem 0.75rem;
}

.flyoutitem:focus,
.flyoutitem:hover {
	background-color: #0091EA;
	color: #FFF;
	text-decoration: none;
}

.flyoutitem.chosen {
	font-weight: bold;
}

.flyoutitem.chosen:focus,
.flyoutitem.chosen:hover {
	background-color: #FFF;
	color: #0091EA;
	cursor: default;
}

.flyoutparent .downarrow {
	border-color: #FFF transparent transparent;
	border-style: solid solid none;
	border-width: 0.5rem 0.25rem 0;
	height: 0;
	margin: 0 0.25rem;
	width: 0;
}

/* .NET popup */
.popupInstructions .externalicon {
	width: 1.2rem;
	height: 1.2rem;
}

#sidebar .tooltipinstructions {
	width: 200px;
}

.tooltipinstructions {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.2);
	display: inline;
	font-size: 1.0em;
	font-weight: normal;
	max-width: none;
	overflow: visible;
	padding: 10px;
	position: absolute;
	text-align: left;
	width: 250px;
	z-index: -1;
	left: -9000px;
	top: -9000px;
}

.tooltipicon {
	display: inline;
	cursor: auto;
}

.popupInstructions img.organizationLogo {
	display: inline-block;
	margin: 0 1rem 0 0;
	overflow: hidden;
	vertical-align: middle;
	width: 2.5rem;
}

.popupInstructions span.organizationName {
	display: inline-block;
	width: calc(100% - 2.5rem - 1rem);
	font-size: 0.9rem;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 70%;
}

.popupiconcontainer .popupInstructions.autowidth,
.popupiconcontainer .popupInstructions .organization {
	width: auto;
	white-space: nowrap;
}

#sidebar .popupiconcontainer .popupInstructions .organization {
	white-space: normal;
}

/*External Jump Popup*/
.externaljumppopup.component.Popup.container {
	padding: 0;
}

.externaljumppopup.component.Popup > .content {
	min-height: 750px;
	padding: 0;
}

.externaljumppopup .loadingContainer {
	text-align: center;
	margin-top: 180px;
}

.externaljumppopup .loadingContainer .loadingStatus {
	font-size: 1.2rem;
	margin: 2rem 0 -4rem;
	font-weight: 400;
}

.externaljumppopup .loadingContainer .logo .roundedimage {
	width: 4rem;
	height: 4rem;
	margin: 0 auto;
}

.externaljumppopup .loadingContainer .externallogo {
	width: 4rem;
}

.externaljumppopup .loadingContainer.loaded {
	opacity: 0;
	-webkit-transition: opacity 0.5s 1s;
	transition: opacity 0.5s 1s;
}

.externaljumppopup .loadedcontent {
	visibility:hidden;
	height: 0;
}

.externaljumppopup .externalheader {
	border-bottom: 1px solid #ccc;
	min-height: 4rem;
	padding: 0.4rem 0.6rem;
	overflow: hidden;
}

.externaljumppopup .externalheader * {
	word-wrap: break-word;
}

.externaljumppopup .externalheader .externallogo {
	width: 4rem;
	height: 4rem;
	display: inline-block;
	vertical-align: middle;
}

.externaljumppopup .externalheader .orgName {
	width: calc(60% - 4rem);
	display: inline-block;
	padding-left: 1rem;
	vertical-align: middle;
}

.externaljumppopup .externalheader .contactinfo {
	display: inline-block;
	width: 40%;
	text-align: left;
	font-size: 0.8rem;
	vertical-align: middle;
}

.externaljumppopup .contactinfo .section {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	position: relative;
}

.externaljumppopup .contactinfo.nocontact .address {
	left: 50%;
}

.externaljumppopup .contactinfo .section.contact {
	text-align: center;
}

.externaljumppopup .contact .contact0 {
	font-size: 1.2rem;
}

.externaljumppopup .contactinfo .section * {
	display: block;
	line-height: 1.25rem;
}

.externaljumppopup .externalframe {
	border: 0;
	width: 100%;
	max-height: 800px;
	display: block;
}

.externaljumppopup .titlebar .externallogo {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1rem 0 0.5rem;
}

.externaljumppopup .loadingExt {
	display: block;
	margin: 0 auto;
}

.externalJumpRequestPopup.Popup .buttons .button {
	margin: 0.5rem;
}

.externaljumppopup .browsersupport:not(:empty) {
	text-align: center;
	margin: 3rem auto;
}


/*External loading indicator styles specific to IE9*/

.inlineloading.withsources .loadingIndicator {
	margin-top: 0;
}

.loadingIndicator {
	min-height: 3.5rem;
	margin-top: 5rem;
	text-align: center;
}

.loadingIndicator .indicator {
	width: 3.5rem;
	height: 3.5rem;
	background-image: url("../images/spinner64.gif");
	background-repeat: no-repeat;
	background-size: 3.5rem;
	margin: 0 auto;
}

/*Popup Overlay*/
.lb_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3000;
	/* browser-dependent tags */
	/* IE */
	filter: alpha(opacity = 60);
	background: #666666;
	/* Everything else */
	opacity: 0.5;
	background: -moz-linear-gradient(center bottom, #000000 0%, #666666 50%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0,0,0)), color-stop(0.5,rgb(102,102,102)));
	box-shadow: inset 0 -20px 100px 25px rgba(0, 0, 0, 0.7);
}

/*#region Pick Organization styling*/
.component.Popup.PickOrganization.small,
.component.Popup.PickOrganization.medium {
	min-width: 0;
	width: auto;
	max-width: 650px;
}

.Popup.PickOrganization .component li.CommunityLink {
	display: inline-block;
	vertical-align: top;
}

.Popup.PickOrganization .component li.community_3 {
	width: 33%;
}

.Popup.PickOrganization .component li.community_2 {
	width: 50%;
}

.Popup.PickOrganization .component li.community_1 {
	width: 100%;
}

.Popup.PickOrganization .component li.CommunityLink a.button {
	background: none;
	color: #363636;
	line-height: 1.2rem;
}

.Popup.PickOrganization li.CommunityLink a:hover {
	text-decoration: underline;
}

.PickOrganization .roundedimage.orglogo {
	width: 4rem;
	height: 4rem;
	margin: 0 auto;
}

.Popup.PickOrganization .component li.CommunityLink a .orgname {
	display: block;
}

/*#endregion*/

/* Message/E-Visit Viewers */
.viewerList {
	padding: 0 0 0.5rem;
}

/* image attachment for messaging & E-Visits.  
	Consider adding to it's own file */

.imagescontainer {
	display: inline;
}

.imagescontainer .filecontainer {
	display: inline-block;
	margin: 0 1rem 0 0;
	vertical-align: top;
	width: 150px;
}

.imagescontainer .filecontainer .buttondiv {
	text-align: right;
}

.imagescontainer .filecontainer div.uploadedimage {
	height: 150px;
	margin: 0 0 0.25rem;
	width: 150px;
}

.imagescontainer .filecontainer img.uploadedimage {
	cursor: pointer;
	max-height: 100%;
	max-width: 100%;
}

#imgalert {
	display: inline-block;
	width: auto;
	padding-left: 5px;
}

/*image attachment for proxy photos*/
td.proxyphoto img.photo {
	display:inline-block;
}

td.proxyphoto div.uploaderbutton {
	vertical-align: top;
}

/*Timeline styles*/
.timeLine {
	position: relative;
}

.timeLine:before {
	position: absolute;
	content: "";
	height: calc(100% - 1rem);
	left: 14%;
	width: 1px;
	top: 1rem;
}

.timeLine .timeLineSection {
	position: relative;
}

.timeLine .timeLineSection:before {
	content: "";
	position: absolute;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	left: calc(14% - 0.25rem);
	top: 0.8rem;
	border: 1px solid #d9d9d9;
}

.timeLine .timeLineSection .timeLineHeader {
	width: 12%;
	display: inline-block;
	text-align: right;
	margin-right: 5%;
	margin-top: 0.4rem;
	vertical-align: top;
}

.timeLine .timeLineSection .timeLineDetails {
	width: 83%;
	display: inline-block;
}

.cptLink {
	margin: -0.5rem 0 0.5rem;
	text-align: right;
}

/*Other Preferences page styling*/
#preftimes fieldset,
#preftimes .preftimesrow .col,
#preftimes .btnColumn {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}

#preftimes fieldset,
#preftimes .preftimesrow .col {
	width: 34%;
}

#preftimes .btnColumn {
	width: 32%;
}


#preftimes .preftimesrow {
	margin: 0.5rem 0;
}

#schedprefs .prefdays,
#schedprefs .preftimes {
	display: inline-block;
	vertical-align: top;
}

#schedprefs .prefdays {
	width: 22%;
	margin-right: 3%;
}

#schedprefs .preftimes {
	width: 75%;
}

#notifprefs .emailaddress {
	margin: 0.5rem 0;
}

.section .matchButtonWidths p.buttoncheck {
	width: 95%;
}

/* 3rd party VDT document iframe */
.vdtFrame #vdtFrame {
	width: 100%;
}

#vdtErrorDiv {
	width: 100%;
	border: none;
	display: none;
}

/*Customer service in claims*/
.formbuttons.customerservice {
	margin-bottom: 0.5rem;
}

/* #region Jp Player*/
.section .jp-audio{
	width: 640px;
}
/*#endregion*/
