.title {
  color: rgb(0, 60, 120);
  font-size: 13pt;

  margin-top: 2vh;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0.75vh;
  margin-bottom: 0;

  font-size: 11pt;
  color: rgb(30, 30, 30);
}

.description {
  font-size: 11pt;
  color: rgb(30, 30, 30);
}
