h1 {
  font-size: 30pt;
  font-weight: normal;
  color: rgb(250, 250, 250);
}

#name-small {
  font-size:  /*24*/30pt;
  /* font-weight: 100; */
}

.button-group {
  display: flex;
  flex-direction: row;

  /* padding-left: 2vw; */
}

#bottom {
  /* display: flex;
  flex-direction: row; */
  color: rgb(250, 250, 250);
  margin-top: 3vh;
}

#intro-content {
  display: flex;
}

#bio {
  padding-right: 1vw;
}

#intro-content p {
  font-size: 12pt;
}

#media {
  margin-top: 3vh;
}

.copyright {
  padding-left: 3vw;

  color: rgb(250, 250, 250);
  font-family: monospace;
  font-weight: 100;
}

.strikethrough {
    text-decoration: line-through;
}

body {
  margin: 0;
  background-color: rgb(50, 50, 50);
}

.section {
  width: 84vw;

  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 2vh;
  margin-bottom: 2vh;

  padding-top: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 2vh;

  border-radius: 20px;

  font-family: monospace;
  font-weight: 100;
  line-height: 140%;
}

hr {
  margin-left: 3vw;
  margin-right: 3vw;

  background-color: rgb(250, 250, 250);
  border-color: rgb(250, 250, 250);
}

.button {
  border-radius: 10px;

  background-color: rgb(250, 250, 250);
  text-align: center;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;

  margin-right: 2vw;
  margin-bottom: 2vh;

  color: rgb(50, 50, 50);
  font-size: 14pt;
}

.section-content {
  display: flex;
  flex-flow: column;
}

.section-title {
  color: rgb(250, 250, 250);
}

.title {
  color: rgb(250, 250, 250);
  font-size: 13pt;

  margin-top: 2vh;
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0.75vh;
  margin-bottom: 0;

  font-size: 11pt;
  color: rgb(250, 250, 250);
}

.description {
  font-size: 11pt;
  color: rgb(250, 250, 250);
}

.link {
  text-decoration: none;
  color: #2d72e1;
}

.link:hover {
  text-decoration: underline;
}

.list {
  padding-left: 2vh;
  color: rgb(250, 250, 250);
}

.list-item {
  font-size: 11pt;
}

.list-subitem {
  margin-left: 2vw;
}

.section-content {
  display: flex;
  flex-flow: column;
}

.section-title {
  color: rgb(250, 250, 250);
  font-size: 20pt;
  font-weight: normal;
}
